.header{
    font-family: 'Anton', sans-serif;
    color: brown;
    text-align: center;
}
.pic{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.meaning{
    text-align: center;
    font-family: 'Athiti', sans-serif;
}